<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
        	<h4 ng-bind-html="htmlContent['description'][LANG]['description_1_content']"></h4>
        </div>  
    </div>  
    <div class="row"> 
        <div class="col-sm-1 col-sm-offset-2"><label><input style="width:100%; color: black; " pattern="[0-9]*" inputmode="numeric" ng-model="data.id">id</label></div>
        <button class="col-sm-offset-6 btn btn-success" ng-click="statusNext()">
            {{htmlContent['description'][LANG]['description_1_next']}}
        </button>
    </div>
</div>