<div class="container" style="width:100%;">
<div style="width:80%;">
    <div>
        <h5>{{htmlContent['description'][LANG]['info_title']}}</h5>
    </div>
    <br />
    <div class="input-group">
        <span class="input-group-addon" >{{htmlContent['description'][LANG]['info_person_age']}}</span>
        <input type="number" pattern="[0-9]*" inputmode="numeric" class="form-control" placeholder="" ng-model="info.personInfo.age">
    </div>
    <div class="input-group">
        <span class="input-group-addon">{{htmlContent['description'][LANG]['info_person_gender']}}</span>
        <input type="text" class="form-control" placeholder="" ng-model="info.personInfo.gender">
    </div>		            		            
</div>	    
<br/>  
<div>
    <h5>{{htmlContent['description'][LANG]['info_feedback_question']}}</h5>
    <textarea rows="8" cols="80" ng-model="info.feedback"></textarea>
</div>
<br/>
<br/>
<div>
    <h5>{{htmlContent['description'][LANG]['info_skilllevel_question']}}</h5>
    <div class="tb">
        <tr>
            <div ng-class="'td'" ng-repeat="item in info.skillLevels[LANG]">		            
	   <label style="margin: 10px;"><input name="skilllevel" type="radio" value={{item}} ng-model='$parent.info.skillLevel'/>{{item}}</label> 
	   </div>   	      
        </tr>
    </div>      	
</div>
<div>
    <h5>{{htmlContent['description'][LANG]['info_experience_question']}}</h5>
    <div class="tb">
        <tr>
            <div ng-class="'td'" ng-repeat="item in info.experienceYears[LANG]">                    
                <label style="margin: 10px;"><input name="experience" type="radio" value={{item}} ng-model='$parent.info.experience'/>{{item}}</label> 
            </div>            
        </tr>
    </div>
</div>
<button class="btn btn-success btn-lg btn-block" ng-click="submit()">
    {{htmlContent['description'][LANG]['info_complete']}}
</button>	            
</div>